 /* スマホ表示時 */
@media (max-width: 435px) {
  
  /* ヘッダー */
  header.header {
    height: 120px!important;
  }

  div.header__bar.row {
    display: flex;
  }

  .tytle-logo {
    margin-top: 15px;
    margin-left: -20px;
    height: 70px;
    width: 350px!important;
  }


  ul.user__info {
    margin-right: -10px!important;
    margin-top: -2px;
  }

  .user_nav span {
    width: 90px!important;
  } 

  /* トップページ */
  .content {
    width: 360px!important;
    padding: 8px 0px 5px 0!important;
  }

  .milk-img {
    margin-left: 10px!important;
  }

  .condition-amount {
    font-size: 20px!important;
  }

  a.post.l {
    margin-right: 35px;
  }

  a.pull_down {
    width: 120px;
  }

  a.post.lo {
    margin-top: 9px;
  }

  .time {
    font-size: 18px!important;
    margin-top: 3px!important;
    margin-left: 30px!important;
  }
   
  /* 記録編集フォーム */
  .container-new-edit {
    padding: 0 20px!important;
  }

  .new-edit-title {
    margin: -20px 0 10px 10px!important;
  }

  .milk-label {
    margin-right: 32px;
  }

  a.new-edit-redirect {
    width: 150px!important;
    margin-right: 20px!important;
  }
  
  /* マイページ */
  .user_nav.grid-6 {
    display: grid;
  }

  .show-contents-row {
    width: 500px!important;
    margin: 0 50px!important;
  }

  .show-name {
    margin-bottom: 20px!important;
  }

  .milk-image {
    width: 140px!important;
    height: 140px!important;
  }
}

