<div class="show-contents-row">
  <p class="show-name"><%= @nickname %>さんの投稿したそなくんの写真一覧</p>
  <div class="show-contents">
    <% @milks.each do |milk| %>
      <div class="show-content">
        <%= image_tag milk.image, class: "milk-image" if milk.image.attached? %>
      </div>
    <% end %>
  </div>
</div>