body {
  background-color: #faf3e5!important;
}

.tytle-logo{
height: 62px;
position: absolute;
top:-10px;
}

header {
  background-color: #fff1d4!important; 
}

.btn, a.post{
  padding: 8px 20px;
  font-size: 14px;
  border: 1px solid #4f4f4f!important;
  color: #4f4f4f!important;
  font-weight: bold;
  text-align: center;
  border-radius: 3px!important;
  display: inline-block;
  font-family: "Nico Moji"!important;
  transition: .3s cubic-bezier(0.5, 1, 0.89, 1);
}

.btn:hover,a.post:hover {
  border-color: #000000!important;
  color: #000000!important;
  transform: scale(1.1);
}

.pull_down {
  transition-duration: .3s;
}

.pull_down:hover {
 color: #000000;
 transform: scale(1.1);
}

.user_nav{
  font-family: "Nico Moji"!important;
}

.user_nav, .grid-6 {
  color: #4f4f4f;
}