.main {
  background-color: #faf3e5;
  padding-bottom: 30px;
  margin-top: -30px;
}

.child-information {
  font-size: 20px;
  font-family: "Nico Moji";
}

.contents.row {
  margin-top: -10px!important;
}

.content {
  width: 450px;
  margin-top: 20px;
  display: flex;
  font-family: "Nico Moji";
  border: 2px solid rgb(170, 166, 166);
  border-radius: 20px;
  padding: 8px 0px 5px 10px;
}

.milk-img {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 30px;
  margin-left: 20px;
}

.condition-amount-time{
  margin-right: 10px;
  margin-left: 5px;
}

.condition-amount {
  font-size: 25px;
  margin-left: 10px;
}

.amount {
  margin-left:-15px ;
}

.time {
  font-size: 20px;
  margin-left: 80px; 
}

.dropdown_time {
  display: flex;
}

.dropdown__lists {
  margin-left: 10px;
  width: 150px;
  display: flex;
}

.dropdown__list {
  padding: 5px;
  border-radius: 10px;
}

.dropdown {
  margin-left: 10px;
  height: 25px;
  opacity: 0.8;
  border-radius: 4px;
  background-color: #fcd586;
  cursor: pointer;
  box-shadow: 0 5px #c2963e;

}

.dropdown:hover {
  opacity:1;
}

.dropdown:active {
  position:relative;
  top:7px;
  box-shadow:none;
}

a {
  font-family: "Nico Moji";
}

.dropdown__listss {
  margin-left: 10px;
  width: 150px;
  display: flex;
  opacity: 10%;
}

a.dropdown__list {
  color: #444444;
}